.container {
    width: 90%;
    max-width: 2200px;
    margin: 0 auto;
}

header img {
    width: 120px;
    height: auto;
}
header nav {
    display: flex;
  
    align-items: center;
    gap: 25px;
}
header nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.avant {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 300px;
}

footer {
    background-color: #101211;

}


.end {
    display: flex;
    justify-content: end;
}

.begin {
    display: flex;
    justify-content: start;
    margin-left: 75px;
}

footer ul {
    list-style: none;
}

.lestitrefo {
    color: #C3F85C;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0;
}
    .logohead{
        margin-left: 75px;
    }

footer a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
}

footer p {
    font-size: medium;
    color: #B2BDB3;
}

form button {
    display: flex;
    background-color: #5E5BFF;
    color: rgb(251, 251, 252);
    border-radius: 5px;
    padding: 20px;
      width: 620px;
    height: 50px;
    margin-bottom: 40px;
   


}

.intro h5 {
    color: #034BFF;
    font-family: "IBM Plex Mono", monospace;
font-weight: 400;
font-style: normal;
font-size: 12px;
line-height: 145%;
letter-spacing: 0;
}

.intro h1 {
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
font-weight: 900;
font-style: normal;
font-size: 36px;
line-height: 108%;
letter-spacing: -1.1%;
}

nav ul {
    list-style: none;

}

nav li a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #034BFF;
    color: white;
    text-decoration: none;
    padding: 12px 24px;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
       margin-bottom: 10px;
      
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 300px;
}


nav ul :hover {
    color: #034BFF;
    text-decoration: underline;
}

.all h1 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bold;
    width: 918PX;
    height: 39PX;
    font-family: 'Inter', sans-serif;
}
.inscrption h1 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bold;
    width: 918PX;
    height: 39PX;
    font-family: 'Inter', sans-serif;
}
.part input {
    width: 620px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #DDE4F0;

    padding: 10px 15px;

    box-sizing: border-box;
}

.papad {
    padding: 15px;
}

article {
    border: #DDE4F0 solid 1px;
    border-radius: 10px;
    margin: 15px;
}

.compuses article {
    padding-inline: 20px;
}

.compuses {
    padding: 20px;

    display: flex;
    flex-direction: ROW;
    flex-wrap: wrap;
}

.compuses article {
    flex: 1;
    width: auto;
}

.cards {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-wrap: wrap;
}

.cards article {
    width: 100%;
    margin: 0;
    padding: 0;

}

.compuses h5 {
    color: #034BFF;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0;
}

.all h4 {

    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0;
    color: #034BFF;
}

.all h5 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0;
    color: #034BFF
}

.cards article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.logo {
    width: 120px;
    height: auto;
    margin-left: 75px;
    
}
.partie1 p {
    margin-left: 75px;
}

.hero{
    display: flex;
    background-color: #08111D;
 ;
   
}
.hero1{
    display: block;

    margin-left: 80px;
    
    
}
.hero1 h1 {

font-family: Inter;
font-weight: 900;
font-style: rgb(3, 3, 3);
font-size: 76px;
line-height: 120%;
letter-spacing: 0%;
color: white;
}
.span1{
    font-family: Inter;
font-weight: 900;
font-style: Black;
font-size: 88px;
line-height: 120%;
letter-spacing: 0%;
color: #034BFF;

}
.span2{
      font-family: Inter;
font-weight: 900;
font-style: Black;
font-size: 66px;
line-height: 120%;
letter-spacing: 0%;
color: #c1ee44;
}
.h44{
    font-family: Inter;
font-weight: 800;
font-style: Extra Bold;
font-size: 26px;
line-height: 120%;
letter-spacing: 0%;
color: white;


}
.hero p {font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 120%;
letter-spacing: 0%;
color: white;
margin-bottom: 40px;}

.compuslink{
     width: 184;
height: 42;
border: #031d9e solid 1px;
color: white;
opacity: 1;
top: 334px;
left: 61px;
border-radius: 5px;
padding: 10px;
background-color: #034BFF;
margin-top: 30px;

}
.evenlink{
    width: 176;
height: 42;
border:#8EABFF solid 1px;
opacity: 1;
top: 334px;
left: 264px;
border-radius: 5px;
border-width: 1px;
padding: 10px;
color: white;
margin-left: 25px;
margin-top: 30px;
margin-bottom: 40px;

}
a{
    list-style: none;
    text-decoration: none;

}
.imghero{display: flex;
justify-content: end;
align-items: end;
margin-left: auto;
 }
.cercle{background-color: rgb(92, 117, 100) ;
    display: flex;

   
}
.statistique{ display:flex ;
margin-top: 40px;
justify-content: space-between;
gap: 50px;}
.stat{
    display: flex;
}
.stat h1{font-family: Inter;
font-weight: 800;
font-style: Extra Bold;
font-size: 26px;

line-height: 120%;
letter-spacing: 0%;
}.stat i {
    margin-top: 15px;
}
.explore{
    display: flex;
}
.ensvrplus{display: flex;}
.bbb{display:flex ;}
.buuu{
    width: 260;
height: 63;
border: solid 1px;
border-radius: 8px;
opacity: 1;
gap: 12px;
border-radius: 12px;
padding: 20px;
background: var(--color-lime, #C3F85C);
color: #08111D;

}
.lestitrefo{margin-bottom: 30px;}
.parie3{margin-right: 50px;}git add.
