.container {
    width: 90%;
    max-width: 2200px;
    margin: 0 auto;
}

header img {
    width: 120px;
    height: auto;
}
header nav {
    display: flex;
  
    align-items: center;
    gap: 25px;
}
header nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.avant {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 300px;
}

footer {
    background-color: #101211;

}


.end {
    display: flex;
    justify-content: end;
}

.begin {
    display: flex;
    justify-content: start;
}

footer ul {
    list-style: none;
}

.lestitrefo {
    color: #C3F85C;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0;
}

footer a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
}

footer p {
    font-size: medium;
    color: #B2BDB3;
}

form button {
    display: flex;
    background-color: #5E5BFF;
    color: rgb(251, 251, 252);
    border-radius: 5px;
    padding: 20px;
      width: 620px;
    height: 50px;
   


}

.intro h5 {
    color: #034BFF;
}

.intro h1 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bold;
}

nav ul {
    list-style: none;

}

nav li a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #034BFF;
    color: white;
    text-decoration: none;
    padding: 12px 24px;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
       margin-bottom: 80px;
}
header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}


nav ul :hover {
    color: #034BFF;
    text-decoration: underline;
}

.all h1 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bold;
    width: 918PX;
    height: 39PX;
    font-family: 'Inter', sans-serif;
}
.inscrption h1 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bold;
    width: 918PX;
    height: 39PX;
    font-family: 'Inter', sans-serif;
}
.part input {
    width: 620px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #DDE4F0;

    padding: 10px 15px;

    box-sizing: border-box;
}

.papad {
    padding: 15px;
}

article {
    border: #DDE4F0 solid 1px;
    border-radius: 10px;
    margin: 15px;
}

.compuses article {
    padding-inline: 20px;
}

.compuses {
    padding: 20px;

    display: flex;
    flex-direction: ROW;
    flex-wrap: wrap;
}

.compuses article {
    flex: 1;
    width: auto;
}

.cards {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-wrap: wrap;
}

.cards article {
    width: 100%;
    margin: 0;
    padding: 0;

}

.compuses h5 {
    color: #034BFF;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0;
}

.all h4 {

    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0;
    color: #034BFF;
}

.all h5 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 145%;
    letter-spacing: 0;
    color: #034BFF
}

.cards article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.logo {
    width: 120px;
    height: auto;
}
